*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #fc8091;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    width: 100%;
    text-align: center;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
    background-color: #fd8c88;
    padding: 10px;
    margin-top: 40px;
    border-radius: 8px;
    transition: 0.4s;
    cursor: pointer;
}

a:hover{
    background-color: #fa6a64;
}

.contenedor{
    display: flex;
    justify-content: center;
    gap: 150px;
}

h2{
    text-align: center;
    margin-top: 30px;
    background-color: #caaeff;
    padding: 10px;
    border-radius: 12px;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 25px auto;
}

table a{
    background-color: rgb(210, 255, 210);
    color: black;
    font-weight: bolder;
}

table a:hover{
    background-color: #9aff9a;
}

th{
    background-color: #8093fc;
    color: white;
}

td{
    border: 1px solid #ccc;
    padding: 18px;
}

th, td{
    padding: 18px;
    text-align: left;
}

nav{
    height: 100px;
    display: flex;
    align-items: center;
}

.exito{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}